@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,300&display=swap");

:root {
  --Color1: #004d7a;
  --Color2: #0096d6;
  --Color3: #333333;
  --Color4: #f5f5f5;
  --Color5: #ffffff;
  --Color6: #006d5b;
  --Color7: #00a78e;
  --Color8: #4c2a85;
  --Color9: #8c5fc2;
  --Color10: #2980b9;
  --Color11: #6dd5fa;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e8e8e8;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
main {
  width: 100%;
  height: 100%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(224deg, #2980b9 40%, #6dd5fa);
}
main section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/*
Estilos para el login
*/
.login {
  color: var(--Color1);
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  width: 350px;
  flex-direction: column;
  gap: 35px;
  background: var(--Color4);
  border-radius: 8px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.57);
}

.inputBox {
  position: relative;
  width: 250px;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
}

.inputBox span {
  margin-top: -40px;
  position: absolute;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  transform: translateX(140px) translateY(-12px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: var(--Color7);
  letter-spacing: 0.2em;
  color: var(--Color3);
  border: 2px;
}

.inputBox input:valid,
.inputBox input:focus {
  border: 2px solid var(--Color3);
  border-radius: 8px;
}

.enter {
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
}

.container-ingresar:hover {
  background-color: var(--Color6);
}
.container-ingresar:hover > .enter {
  color: rgb(255, 255, 255);
  transition: 0.5s;
}
.container-ingresar:hover > .icono-ingresar {
  filter: invert(1);
  transition: 0.5s;
}
.container-ingresar {
  cursor: pointer;
  transition: 0.5s;
  border: 2px solid var(--Color6);
  border-radius: 5px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icono-ingresar {
  width: 40px;
}

@media screen and (max-width: 900px) {
  main {
    flex-direction: column;
  }
  .img-logo {
    width: 300px;
    margin-bottom: 20px;
  }
  main section {
    height: auto;
  }
}
