@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,300&display=swap");
:root {
  /*Color para los h1*/
  --h1: #000000;
  /*Color para los inputs*/
  --input-color: #073e18;
  --input-fondo: #cdf6e6;
  /*Color para los label*/
  --label: #303032;
  /*Color para los span*/
  --span: #0f132a;
  /*Color para los boton primario*/
  --primario: #29ff04;
  /*Color para los boton secundario*/
  --secundario: #fa033c;
  /*Color para los parrafos*/
  --parrafos: #000000;
  /*Colores para fondo*/
  --fondo: linear-gradient(
    310deg,
    hsl(140deg 87% 45%) 0%,
    hsl(136deg 67% 56%) 8%,
    hsl(137deg 64% 62%) 17%,
    hsl(138deg 61% 68%) 25%,
    hsl(150deg 63% 67%) 33%,
    hsl(158deg 64% 66%) 42%,
    hsl(165deg 64% 66%) 50%,
    hsl(172deg 59% 58%) 58%,
    hsl(178deg 55% 50%) 67%,
    hsl(183deg 76% 43%) 75%,
    hsl(184deg 77% 43%) 83%,
    hsl(184deg 78% 44%) 92%,
    hsl(185deg 78% 44%) 100%
  );
}
body {
  display: flex;
  justify-content: center;
  background: var(--fondo);
  font-family: "Open Sans", sans-serif;
  margin-bottom: 4%;
}
main {
  width: 600px;
}
h1 {
  text-align: center;
  font-weight: bold;
  padding: 12px;
  color: var(--h1);
}
h2 {
  color: var(--h1);
}
label {
  color: var(--label);
}
span {
  color: var(--span);
  font-weight: bold;
}
.total-votos {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
}
.btn-atras {
  border-radius: 8px;
  margin: 24px 0px 24px 24px;
  display: flex;
  width: 80px;
  background-color: aqua;
  padding: 8px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
}
button:hover {
  background: rgb(227 119 105);
}
table {
  margin-top: 12px;
  text-align: center;
}
td {
  padding: 4px;
}

.concejo {
  border-top: 1px solid;
  padding-top: 50px;
  margin-top: 50px;
}
